@inherits Umbraco.Web.Macros.PartialViewMacroPage

<ul class="animated" data-animation="fadeIn" data-animation-delay="600">
    <!-- social icons -->
    <li><a class="ukie-icons hover-animate" href="@Umbraco.Field("linkedinProfile")" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    <li><a class="ukie-icons hover-animate" href="@Umbraco.Field("twitterProfile")" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a class="ukie-icons hover-animate" href="@Umbraco.Field("facebookProfile")" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a class="ukie-icons hover-animate" href="@Umbraco.Field("githubProfile")" target="_blank"><i class="fa fa-github-alt"></i></a></li>
    <li><a class="ukie-icons hover-animate" href="@Umbraco.Field("stackoverflowProfile")" target="_blank"><i class="fa fa-stack-overflow"></i></a></li>
</ul>