@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
@section jQueryValidate{
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.1/jquery.validate.unobtrusive.min.js"></script>
    @Umbraco.RenderMacro("FormsRenderScripts")
}
    <!-- Start Head section -->
<header class="head">
    <!-- start container -->
    <div class="container">
        <!-- start row -->
        <div class="row">
            <div class="col-xs-8 col-sm-11 col-lg-11">
                <img class="logo-page" src="@Url.Content("~/assets/img/contact_l.png")" alt="Contact">
                <!-- Title Page -->
                <h2 class="title">@CurrentPage.Name</h2>
                <!-- Description Page -->
                <h4 class="sub-title">@Umbraco.Field("introduction")</h4>
            </div>
            <div class="col-xs-4 col-sm-1 col-lg-1 text-right">
                <a href="@CurrentPage.Up().Url" class="btn-close hover-animate"></a>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</header>
<!-- End Head section -->
<!-- Start Content section -->
<section class="content padding-block border-bottom">
    <!-- start container -->
    <div class="container">
        <!-- start row -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-6">
                <h3 class="title title-contact">Contact info</h3>
                <div class="block-grey">
                    <table>
                        <tr>
                            <td class="font-weight-m width-td">Address</td>
                            <td>@Umbraco.Field("address")</td>
                        </tr>
                        <tr>
                            <td class="font-weight-m">Phone</td>
                            <td><a href="tel:@Umbraco.Field("phone")">@Umbraco.Field("phone")</a></td>
                        </tr>
                        <tr>
                            <td class="font-weight-m">E-mail</td>
                            <td><a href="mailto:@Umbraco.Field("email")">@Umbraco.Field("email")</a></td>
                        </tr>
                        <tr>
                            <td class="font-weight-m">Skype</td>
                            <td>@Umbraco.Field("skype")</td>
                        </tr>
                        <tr>
                            <td class="font-weight-m">Website</td>
                            <td><a href="http://@Umbraco.Field("website")" target="_blank">@Umbraco.Field("website")</a></td>
                        </tr>
                    </table>
                    <!-- social icon -->
                    <div class="social">
                       @Umbraco.RenderMacro("SocialProfiles")
                    </div>
                    <!-- end social icon -->
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-6">
                <!-- Start Contact Form -->
                @Umbraco.RenderMacro("FormsRenderForm", new
                {
                    FormGuid = "7e865e07-ef0c-408f-a2ea-78c2a8d0b4ac"
                })

                <!-- End Contact Form -->
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- End Content section -->