@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

    <!-- Start Head section -->
<header class="head">
    <!-- start container -->
    <div class="container">
        <!-- start row -->
        <div class="row">
            <div class="col-xs-8 col-sm-11 col-lg-11">
                <img class="logo-page" src="./../assets/img/contact_l.png" alt="Contact">
                <!-- Title Page -->
                <h2 class="title">Contact</h2>
                <!-- Description Page -->
                <h4 class="sub-title">@Umbraco.Field("introduction")</h4>
            </div>
            <div class="col-xs-4 col-sm-1 col-lg-1 text-right">
                <a href="index.html" class="btn-close hover-animate"></a>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</header>
<!-- End Head section -->
<!-- Start Content section -->
<section class="content padding-block border-bottom">
    <!-- start container -->
    <div class="container">
        <!-- start row -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-6">
                <h3 class="title title-contact">Contact info</h3>
                <div class="block-grey">
                    <table>
                        <tr>
                            <td class="font-weight-m width-td">Address</td>
                            <td>@Umbraco.Field("address")</td>
                        </tr>
                        <tr>
                            <td class="font-weight-m">Phone</td>
                            <td><a href="tel:@Umbraco.Field("phone")">@Umbraco.Field("phone")</a></td>
                        </tr>
                        <tr>
                            <td class="font-weight-m">E-mail</td>
                            <td><a href="mailto:@Umbraco.Field("email")">@Umbraco.Field("email")</a></td>
                        </tr>
                        <tr>
                            <td class="font-weight-m">Website</td>
                            <td><a href="http://@Umbraco.Field("website")" target="_blank">@Umbraco.Field("website")</a></td>
                        </tr>
                    </table>
                    <!-- social icon -->
                    <div class="social">
                        <ul class="animated" data-animation="fadeIn" data-animation-delay="600">
                            <!-- social icons -->
                            <li><a class="ukie-icons hover-animate" href="@Umbraco.Field("linkedinProfile")" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a class="ukie-icons hover-animate" href="@Umbraco.Field("twitterProfile")" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="ukie-icons hover-animate" href="@Umbraco.Field("facebookProfile")" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="ukie-icons hover-animate" href="@Umbraco.Field("githubProfile")" target="_blank"><i class="fa fa-github-alt"></i></a></li>
                            <li><a class="ukie-icons hover-animate" href="@Umbraco.Field("stackoverflowProfile")" target="_blank"><i class="fa fa-stack-overflow"></i></a></li>
                        </ul>
                    </div>
                    <!-- end social icon -->
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-6">
                <h3 class="title title-contact">Contact form</h3>
                <!-- Start Contact Form -->
                @*<div class="contact-form">
                    <form action="../assets/php/contact.php" id="contact-form" method="post">
                        <input type="text" id="user-name" name="user-name" value="" placeholder="Name" />
                        <input type="email" id="user-email" name="user-email" value="" placeholder="Email" />
                        <input type="hidden" id="user-status" name="user-status" value="1" />
                        <textarea id="user-message" name="user-message" placeholder="Message"></textarea>
                        <div class="footer-form">
                            <input type="submit" id="submit-btn" class="btn btn-color hover-animate" value="Send Message" />
                            <div class="info-message-form">
                                <p>Please fill out all the fields!</p>
                                <span class="close-msg"><i class="fa fa-close"></i></span>
                            </div>
                        </div>
                    </form>
                </div>*@
                <!-- End Contact Form -->
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- End Content section -->
<!-- Start Map section -->
<div class="contact-map padding-block text-center">
    <!-- start container -->
    <div class="container">
        <!-- start row -->
        @*<div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <div id="map" class="map"></div>
            </div>
        </div>*@
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- End Map section -->